<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="business">
      <h2 data-cy="businessDetailsHeading"><span jhiTranslate="jhipsterSampleApplicationApp.business.detail.title">Business</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ business.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.business.code">Code</span></dt>
        <dd>
          <span>{{ business.code }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.business.name">Name</span></dt>
        <dd>
          <span>{{ business.name }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.business.licence">Licence</span></dt>
        <dd>
          <div *ngIf="business.licence">
            <a [routerLink]="['/licence', business.licence?.id, 'view']">{{ business.licence?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/business', business.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
