<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="demand">
      <h2 data-cy="demandDetailsHeading"><span jhiTranslate="jhipsterSampleApplicationApp.demand.detail.title">Demand</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ demand.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.demand.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterSampleApplicationApp.Status.' + demand.status }}">{{ demand.status }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.demand.email">Email</span></dt>
        <dd>
          <span>{{ demand.email }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.demand.number">Number</span></dt>
        <dd>
          <span>{{ demand.number }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.demand.business">Business</span></dt>
        <dd>
          <div *ngIf="demand.business">
            <a [routerLink]="['/business', demand.business?.id, 'view']">{{ demand.business?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/demand', demand.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
