<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="person">
      <h2 data-cy="personDetailsHeading"><span jhiTranslate="jhipsterSampleApplicationApp.person.detail.title">Person</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ person.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.person.sgid">Sgid</span></dt>
        <dd>
          <span>{{ person.sgid }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.person.business">Business</span></dt>
        <dd>
          <div *ngIf="person.business">
            <a [routerLink]="['/business', person.business?.id, 'view']">{{ person.business?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/person', person.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
